.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.turn>div{
  height: 400px;
}
.turn{
  padding-top: 20px;
  padding-bottom: 20px;
}

.authorimage{
  max-height: 100%;
  width: 100;
}

.answer{
  background-color: white;
  border-color: whitesmoke;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding:15px 30px 15px 15px;
  border-left: 5px solid whitesmoke;
  cursor: pointer;
}

.answer:hover{
  background-color: whitesmoke;
}